body{
 background-image: url("http://res.cloudinary.com/mers/image/upload/v1506728481/wallpaper-2_u9avnk.jpg");
   background-repeat: no-repeat;
   /* background-attachment: fixed;*/
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    text-align: left;
 background-color: white;
 background-attachment: fixed; 
}

.block{
  background:rgba(192,192,192,0.5);
   box-shadow: -15px 0 15px -15px  #535353;
 color: white;
 padding: 20px;
 width: 30%;
 margin-right: auto;
 margin-left: auto;
 border-radius: 15px;
 position: relative;
}

.spacer{
 padding: 3%;
}

h2{
 display: inline;
}

#start, #reset{
 margin: 15px;
}
.custom {
 color: black; 
 background-color: white;
}

